@font-face {
    /*подключаем шрифт, сначала скачиваем его и переносим либо всю папку либо конкретный файл шрифта в папку (у меня шрифты лежат в папке fonts)*/
    src: url(/src/fonts/Raleway-Regular00.ttf);
    /*с помощью src вытаскиваем файл который нам нужен, пишем относительный путь к файлу шрифта, так как мы находимся в папке css в файле style, нужно выйти на папку выше (../) зайти в папку fonts (fonts/) и выбрать нужный файл, не забываем расширение .ttf*/
    font-family: Raleway;
    /*обязательно указываем название шрифта, его можно придумать самостоятельно, важно, чтобы данное название совпадало с тем, которое вы пишите когда присваиваете этот шрифт чему-либо ( в моем случае на в строке 7 я присваиваю его всему сайту, потмоу что пишу font-family в теге body)*/
}

.hh {
    /*   общий для win1 win2  */
	display: flex;
     /* margin-left: 10%;
    margin-right: 10%;  */
    /* justify-content: center; */
	width: 100%; 
   
	
}

.k {
    /* baner */
    background: url(5.jpg);
    /*ставим картинку на фон, пишем относительеный путь*/
    background-size: cover;
    /*пишем данной свойство обязательно, чтобы картинка правильно покрыла весь блок*/
    width: 100%;
    /*обязательно задаем ширину и высоту, чтобы блок отобразился*/
    height: 560px;
	margin-top: 30px;
}


/* .l4 {
    display: flex;
}

.str {
    display: flex;
    align-items: flex-start;


} */

@media screen and (max-width: 1280px) {

    .k {
        /* baner */
        background: url(5.jpg);
        /*ставим картинку на фон, пишем относительеный путь*/
        background-size: cover;
        /*пишем данной свойство обязательно, чтобы картинка правильно покрыла весь блок*/
        width: 100%;
        /*обязательно задаем ширину и высоту, чтобы блок отобразился*/
        height: 475px;
        margin-top: 30px;
    }
    
    
}
@media screen and (max-width: 650px) {
    .hh {
        /*   общий для win1 win2  */
        display: flex;
         /* margin-left: 10%;
        margin-right: 10%;  */
        /* justify-content: center; */
        flex-direction: column;}
       
    .k {
        /* baner */
        background: url(5.jpg);
        /*ставим картинку на фон, пишем относительеный путь*/
        background-size: cover;
        /*пишем данной свойство обязательно, чтобы картинка правильно покрыла весь блок*/
        width: 100%;
        /*обязательно задаем ширину и высоту, чтобы блок отобразился*/
        height: 700px;
        margin-top: 30px;
    
        
        
    }

}

@media screen and (max-width: 520px) {
 
       
    .k {
        /* baner */
        background: url(5.jpg);
        /*ставим картинку на фон, пишем относительеный путь*/
        background-size: cover;
        /*пишем данной свойство обязательно, чтобы картинка правильно покрыла весь блок*/
        width: 100%;
        /*обязательно задаем ширину и высоту, чтобы блок отобразился*/
        height: 780px;
        margin-top: 30px;
    
        
        
    }

}

