@font-face {
    /*подключаем шрифт, сначала скачиваем его и переносим либо всю папку либо конкретный файл шрифта в папку (у меня шрифты лежат в папке fonts)*/
    src: url(/src/fonts/Raleway-Regular00.ttf);
    /*с помощью src вытаскиваем файл который нам нужен, пишем относительный путь к файлу шрифта, так как мы находимся в папке css в файле style, нужно выйти на папку выше (../) зайти в папку fonts (fonts/) и выбрать нужный файл, не забываем расширение .ttf*/
    font-family: Raleway;
    /*обязательно указываем название шрифта, его можно придумать самостоятельно, важно, чтобы данное название совпадало с тем, которое вы пишите когда присваиваете этот шрифт чему-либо ( в моем случае на в строке 7 я присваиваю его всему сайту, потмоу что пишу font-family в теге body)*/
}
.e1{
    width: 100%;
   }
.oo{
    /* background-color: rgb(167, 176, 48); */
    width: 50%;
    color: white; margin-left: 10.5%;
}
@media screen and (max-width: 1600px) {
    .oo{
        /* background-color: rgb(167, 176, 48); */
        width: 50%;
        color: white; margin-left: 2.5%;
    }}

@media screen and (max-width: 650px) {
    .oo{
        /* background-color: rgb(167, 176, 48); */
        width: auto;
        color: white;
    }
    .e1{
   margin-right:2.5%;
        }
}