
@font-face {
    /*подключаем шрифт, сначала скачиваем его и переносим либо всю папку либо конкретный файл шрифта в папку (у меня шрифты лежат в папке fonts)*/
    src: url(/src/fonts/Raleway-Regular00.ttf);
    /*с помощью src вытаскиваем файл который нам нужен, пишем относительный путь к файлу шрифта, так как мы находимся в папке css в файле style, нужно выйти на папку выше (../) зайти в папку fonts (fonts/) и выбрать нужный файл, не забываем расширение .ttf*/
    font-family: Raleway;
    /*обязательно указываем название шрифта, его можно придумать самостоятельно, важно, чтобы данное название совпадало с тем, которое вы пишите когда присваиваете этот шрифт чему-либо ( в моем случае на в строке 7 я присваиваю его всему сайту, потмоу что пишу font-family в теге body)*/
}


/* отдельно картинка */
.Ppic{
    display: flex;
    justify-content: space-around ;
    padding: 0px 0px;
    margin: 0px 0px 0px 0px;
    border: 20px solid rgb(55, 47, 47) ;
   
}

/* общий размер картинки */
.Pic300{ 
    display: flex;
    width: 100%;   
}


/* главный */
.Glav{
width: 100%;
padding-bottom:0px; 
}

/* главный для 4х */
.Pic4{
    margin: 0px 12% 0px 12%;
 }

 /* оглавление */
.txt{
width: 100%;
background-color: rgb(13, 130, 89);
font-size: 43px;
font-family: Raleway;
color: whitesmoke;
text-align: center;
font-weight: 300;
padding-top: 5px;
margin-bottom: 0px;
background-color: rgb(12, 117, 81); 
color: rgb(55, 47, 47);
}

.Pic{ 
display: flex;
/* width: 100%; */
justify-content: center;
align-items: center; 
}

.Pic200{ 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin:0px;   
}

/* картинка */
.Pic2q { 
background-color: rgb(13, 130, 89);
background: url(franc2e.jpg);
background-size: cover;
width: 100%;
height: 390px;
justify-content: center;
align-items: center; 
margin: 5px;
/* border-radius: 15px 15px 0px 0px; */

}

/* картинка */
.Pic2q1 { 
    background-color: rgb(13, 130, 89);
    background: url(english2.jpg);
    background-size: cover;
    width: 100%;
    height: 390px;
    justify-content: center;
    align-items: center; 
    margin: 5px;
    /* border-radius: 15px 15px 0px 0px; */
    
    }

    /* картинка */
.Pic2q2 { 
    background-color: rgb(13, 130, 89);
    background: url(kantri.jpg);
    background-size: cover;
    width: 100%;
    height: 390px;
    justify-content: center;
    align-items: center; 
    margin: 5px;
    /* border-radius: 15px 15px 0px 0px; */
    
    }
    .Pic2q3 { 
        background-color: rgb(13, 130, 89);
        background: url(sredizemnomorskiy.jpg);
        background-size: cover;
        width: 100%;
        height: 390px;
        justify-content: center;
        align-items: center; 
        margin: 5px;
        /* border-radius: 15px 15px 0px 0px; */
        
        }
        .Pic2q4 { 
            background-color: rgb(13, 130, 89);
            background: url(japan.jpg);
            background-size: cover;
            width: 100%;
            height: 390px;
            justify-content: center;
            align-items: center; 
            margin: 5px;
            /* border-radius: 15px 15px 0px 0px; */
            
            }
            .Pic2q5 { 
                background-color: rgb(13, 130, 89);
                background: url(provans.jpg);
                background-size: cover;
                width: 100%;
                height: 390px;
                justify-content: center;
                align-items: center; 
                margin: 5px;
                /* border-radius: 15px 15px 0px 0px; */
                
                }
                .Pic2q6 { 
                    background-color: rgb(13, 130, 89);
                    background: url(skandinavskiy.jpg);
                    background-size: cover;
                    width: 100%;
                    height: 390px;
                    justify-content: center;
                    align-items: center; 
                    margin: 5px;
                    /* border-radius: 15px 15px 0px 0px; */
                    
                    }
                    .Pic2q7 { 
                        background-color: rgb(13, 130, 89);
                        background: url(hiteh.jpg);
                        background-size: cover;
                        width: 100%;
                        height: 390px;
                        justify-content: center;
                        align-items: center; 
                        margin: 5px;
                        /* border-radius: 15px 15px 0px 0px; */
                        
                        }
 
.Pic21{width: 100%;
 
}
.h1{ width: 100%;
    background-color: rgb(106, 165, 130, 0.4);
    display: flex;
    justify-content: center;
    margin-top: 0px;
    border: none;
    height: 291px;
    /* border-radius: 15px 15px 0px 0px; */
    padding: 30px 10px 10px 10px ;
    text-align: center;
    font-weight:600;
    color: rgb(45, 41, 41);   

}
.h2{
    margin-top: 0px;
    font-family: Raleway;
    font-weight: 800;
    width: 100%;
    background-color: rgb(34, 145, 106, 0.7);
    background-color: rgb(106, 165, 130, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 20px;
    padding: 30px;
    /* border-radius: 15px 15px 0px 0px; */
    color: rgb(45, 41, 41); 

}

.h2:hover {
    background-color:rgb(34, 145, 106, 0.7);
    background-color: rgb(106, 165, 130, 0.2);
    opacity:initial;   
}

.Pic2:hover{background-color: aqua;
   
}   




.Glav{
width: 100%;
background-color: rgb(47, 47, 47);
background-color: rgb(12, 117, 81); 
padding-bottom: 100px;
}


@media screen and (max-width: 1600px) {
  
    .Pic4{
        margin: 0px 10% 0px 10%;
     }
 
}
@media screen and (max-width: 1280px) {
    
    .txt{
        width: 100%;
        background-color: rgb(13, 130, 89);
        font-size: 37px;
        font-family: Raleway;
        color: whitesmoke;
        text-align: center;
        font-weight: 300;
        padding-top: 5px;
        margin-bottom: 0px;
        background-color: rgb(12, 117, 81); 
        color: rgb(55, 47, 47);
        }

    .Pic4{
        margin: 0px 7% 0px 7%;
     }
     .Glav{
        padding-bottom: 20px;
     }
        
}

@media screen and (max-width:950px) {
    .h1{
        margin-top: 0px;
        font-family: Raleway;
        font-weight: 800;
        width: 100%;
        background-color: rgb(34, 145, 106, 0.7);
        background-color: rgb(106, 165, 130, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        font-size: 15px;
        font-weight: 600;
        padding: 0px;
        /* border-radius: 15px 15px 0px 0px; */
        color: rgb(45, 41, 41); 
    
    }

    .Pic24{
    


        margin: 0px;
  
        }


.Pic2{ 

    background-color: rgb(255, 255, 255);
    width: 355px;
    width: 100%;
  
    height: 300px;
    
    
   
    padding: 15px;
    
    
    
    }
   
    .Pic300{
        display: flex;
        justify-content: space-between;
        width: 100%;}
       
        .Glav{
            width: 100%;
        
           
            }
        .Pic24{
            margin-top: 10px;
        }
    }

    @media screen and (max-width: 650px) {
     
    }
    @media screen and (max-width: 830px) {
       
        .txt{
           
            padding-top: 5px;
            margin-bottom: -20px;
            background-color: rgb(12, 117, 81); 
            }
        .txt{padding-top: 5px;
           

            
         }
         .Pic300 :hover{
   
        }
        .Glav{
            width: 100%;
          padding-bottom: 20px;
         
            }
             .Pic300{
            display: flex;
            flex-direction: column;
        }
    
        .Pic2{ 

            background-color: rgb(255, 255, 255);
            width: 100%;
            
            /* align-items: center;
          justify-content: center; */
            
            /* border-radius: 5px 5px 0px 0px; */
            /* height: 330px; */
            }
      
             .Pic{
              
             }
    }
    @media screen and (max-width: 650px) {



         .txt{
           font-size: 25px;
        }
        .txt{padding-top: 15px;
            padding-bottom: 5px;
        }
        
        .Glav{
            width: 100%;
          
        
            }
    }
    @media screen and (max-width: 450px) {
       .txt{margin-bottom: 10px;}
         .Glav{
            width: 100%;
         
            }
            .Pic4{
                margin: 0px 0px;
             }

           

    }