
@font-face {
    /*подключаем шрифт, сначала скачиваем его и переносим либо всю папку либо конкретный файл шрифта в папку (у меня шрифты лежат в папке fonts)*/
    src: url(/src/fonts/Raleway-Regular00.ttf);
    /*с помощью src вытаскиваем файл который нам нужен, пишем относительный путь к файлу шрифта, так как мы находимся в папке css в файле style, нужно выйти на папку выше (../) зайти в папку fonts (fonts/) и выбрать нужный файл, не забываем расширение .ttf*/
    font-family: Raleway;
    /*обязательно указываем название шрифта, его можно придумать самостоятельно, важно, чтобы данное название совпадало с тем, которое вы пишите когда присваиваете этот шрифт чему-либо ( в моем случае на в строке 7 я присваиваю его всему сайту, потмоу что пишу font-family в теге body)*/
}
/* отдельно картинка */
.Ppic{
    display: flex;
    justify-content: space-around ;
    padding: 0px 10px;
    margin: 20px 0px 0px 0px;
}

/* общий размер картинки */
.Pic300{ 
    display: flex;
    width: 100%;   
}


/* главный */
.Glav{
width: 100%;
padding-bottom:0px; 
}

/* главный для 4х */
.Pic4{
    margin: 0px 15% 0px 15%;
 }

 /* оглавление */
.txt{
width: 100%;
background-color: rgb(13, 130, 89);
font-size: 43px;
font-family: Raleway;
color: whitesmoke;
text-align: center;
font-weight: 300;
padding-top: 30px;
margin-bottom: 0px;
background-color: rgb(12, 117, 81); 
}

.Pic{ 
display: flex;
/* width: 100%; */
justify-content: center;
align-items: center; 
}

.Pic200{ 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    margin:0px;   
}

/* картинка */
.Pic2{ 
background-color: rgb(13, 130, 89);
width: 100%;
height: 390px;
justify-content: center;
align-items: center; 
padding: 25px;
}

 


.Pic24:hover {
   
}




.Glav{
width: 100%;
background-color: rgb(47, 47, 47);
background-color: rgb(12, 117, 81); 
padding-bottom: 100px;
}


@media screen and (max-width: 1600px) {
  
 
 
}
@media screen and (max-width: 1280px) {
    
    .txt{
        width: 100%;
        background-color: rgb(13, 130, 89);
        font-size: 43px;
        font-family: Raleway;
        color: whitesmoke;
        text-align: center;
        font-weight: 300;
        padding-top: 5px;
        margin-bottom: -20px;
        background-color: rgb(12, 117, 81); 
        }

    .Pic4{
        margin: 0px 10.5% 0px 10.5%;
     }
     .Glav{
        padding-bottom: 20px;
     }
        
}

@media screen and (max-width: 1000px) {
    .Pic24{
    


        margin: 0px;
  
        }


.Pic2{ 

    background-color: rgb(255, 255, 255);
    width: 355px;
    width: 100%;
  
    height: 300px;
    
    
   
    padding: 15px;
    
    
    
    }
   
    .Pic300{
        display: flex;
        justify-content: space-between;
        width: 100%;}
       
        .Glav{
            width: 100%;
        
           
            }
        .Pic24{
            margin-top: 10px;
        }
    }
    @media screen and (max-width: 730px) {
        .txt{
           
            padding-top: 5px;
            margin-bottom: -20px;
            background-color: rgb(12, 117, 81); 
            }
        .txt{padding-top: 5px;
         }
         .Pic300 :hover{
   
        }
        .Glav{
            width: 100%;
          padding-bottom: 20px;
         
            }
             .Pic300{
            display: flex;
            flex-direction: column;
        }
    
        .Pic2{ 

            background-color: rgb(255, 255, 255);
            width: 100%;
            
            /* align-items: center;
          justify-content: center; */
            
            /* border-radius: 5px 5px 0px 0px; */
            /* height: 330px; */
            }
      
             .Pic{
              
             }
    }
    @media screen and (max-width: 650px) {



         .txt{
           font-size: 25px;
        }
        .txt{padding-top: 15px;
            padding-bottom: 15px;
        }
        
        .Glav{
            width: 100%;
          
        
            }
    }
    @media screen and (max-width: 450px) {
       
         .Glav{
            width: 100%;
         
            }
            .Pic4{
                margin: 0px 0px;
             }

    }