@font-face {
    /*подключаем шрифт, сначала скачиваем его и переносим либо всю папку либо конкретный файл шрифта в папку (у меня шрифты лежат в папке fonts)*/
    src: url(/src/fonts/Montserrat-Regular.ttf);
    /*с помощью src вытаскиваем файл который нам нужен, пишем относительный путь к файлу шрифта, так как мы находимся в папке css в файле style, нужно выйти на папку выше (../) зайти в папку fonts (fonts/) и выбрать нужный файл, не забываем расширение .ttf*/
    font-family: Montserrat;
    /*обязательно указываем название шрифта, его можно придумать самостоятельно, важно, чтобы данное название совпадало с тем, которое вы пишите когда присваиваете этот шрифт чему-либо ( в моем случае на в строке 7 я присваиваю его всему сайту, потмоу что пишу font-family в теге body)*/
}
.ii2{
    position: fixed;
    padding: 0px;
    margin: 0px;
    bottom: 35px;
    right: 35px;
    /* height: 40px; */
    width: 60px;
    font-size: 50px;
    /* color: rgb(13, 130, 89); */
    font-family: 'Times New Roman', Times, serif;
    /* background-color: rgb(17, 2, 2); */
    border: none;
    cursor: pointer;
    z-index: 1;
}
.closed{
    cursor: pointer;
    float: right;
background-color: rgb(13, 130, 89);
    border:0;
    outline: 0;
    color:rgb(255, 255, 255);
}
.closed:hover{
    /* background-color: rgb(29, 92, 73); */
    color: aqua;
}
