.App{
 
}

@font-face {
    /*подключаем шрифт, сначала скачиваем его и переносим либо всю папку либо конкретный файл шрифта в папку (у меня шрифты лежат в папке fonts)*/
    src: url(/src/fonts/BalooDa2-Regular.ttf);
    /*с помощью src вытаскиваем файл который нам нужен, пишем относительный путь к файлу шрифта, так как мы находимся в папке css в файле style, нужно выйти на папку выше (../) зайти в папку fonts (fonts/) и выбрать нужный файл, не забываем расширение .ttf*/
    font-family:BalooDa2;
    /*обязательно указываем название шрифта, его можно придумать самостоятельно, важно, чтобы данное название совпадало с тем, которое вы пишите когда присваиваете этот шрифт чему-либо ( в моем случае на в строке 7 я присваиваю его всему сайту, потмоу что пишу font-family в теге body)*/
}
.pictura{
	width: 100px;
}
.pictura2{
	
}
.Pic46{
    width: 100%;
    height: 2000px;
    background-color: aqua;

}
.Picv{ 
    display: flex;
    /* background-color: rgb(50, 85, 73); */
   
  justify-content: center;
    align-items: center; 
    }
.flip-box{
    display: flex;
    width: 452px;
    height: 190px;
	perspective: 1000px;	
    margin:10px;
align-items: center; 
border: 5px solid rgb(13, 130, 89);
border-radius: 5px 5px 5px 5px;
cursor: pointer;
}
.flip-box:hover .flip-inner{
	transform: rotateY(180deg);
}
.flip-inner{
    width: 100%;
    height: 100%;
	
	transform-style: preserve-3d;
	transition: 0.8s;
}
.flip-front, .flip-back{
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
	font-size: 16px;  
	font-family: Arial, Helvetica, sans-serif;
	/* font-family: Montserrat; */
	font-weight: 400;
	display: flex; 
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;
	text-align: center;
	color: rgb(63, 62, 62);
    padding: 20px;
	
}
	

.flip-front{
	background-color: whitesmoke;	
}
.flip-back
{background-color:whitesmoke;
transform: rotateY(180deg);
border-radius: 5px 5px 5px 5px;}

@media screen and (max-width: 1280px) {
    .Pic46{
        width: 100%;
        height: 500px;
       
    
    }
    .Picv{ 
        display: flex;
        /* background-color: rgb(50, 85, 73); */
/*        
        background-color: aqua; */
 width: 100%;
        }
    .flip-box{
       
       width: 355px; display: flex;
        justify-content: center;
        perspective: 1000px;	
        margin:10px;
    align-items: center; 
    border: 4px solid rgb(13, 130, 89);
    border-radius: 5px 5px 5px 5px;
    }
    .flip-box:hover .flip-inner{
        transform: rotateY(180deg);
    }
    .flip-inner{   
    width: 100%;
    height:100%;
    justify-content: center;
    align-items: center; 
    text-align: center;
    transform-style: preserve-3d;
    transition: 0.8s;
    }


    .flip-front, .flip-back{
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
        font-size: 15px;  
        display: flex; 
        align-items: center;
        justify-content: space-between;
		padding: 20px 30px;
    }
    .flip-front{
        background-color:whitesmoke;	
    }
    .flip-back
    {background-color:whitesmoke;
    transform: rotateY(180deg);
    border-radius: 5px 5px 5px 5px;}
    }    

	@media screen and (max-width: 1000px) {

		.flip-front, .flip-back{
			width: 100%;
			height: 100%;
			position: absolute;
			backface-visibility: hidden;
			font-size: 9px;  
			display: flex; 
			align-items: center;
			justify-content: space-between;
			padding: 20px 30px;
		}
		.pictura{
			width: 70px;
		}
	}

	@media screen and (max-width: 800px) {

		.pictura{
			width: 100px;
		}

		.Pic46{
			width: 100%;
			height: 1900px;
		   
		
		}
		.Picv{ 
			display: flex;
			flex-direction: column;
			/* background-color: rgb(50, 85, 73); */
	/*        
			background-color: aqua; */
	 width: 100%;
	 height: 600px;
			}
		.flip-box{
		   
		   width: 95.5%; display: flex;
			justify-content: center;
			perspective: 1000px;	
			margin:6px;
		align-items: center; 
		border: 4px solid rgb(13, 130, 89);
		border-radius: 5px 5px 5px 5px;
		}
		.flip-box:hover .flip-inner{
			transform: rotateY(180deg);
		}
		.flip-inner{   
		width: 100%;
		height:100%;
		justify-content: center;
		align-items: center; 
		text-align: center;
		transform-style: preserve-3d;
		transition: 0.8s;
		}
	
	
		.flip-front, .flip-back{
			width: 100%;
			height: 100%;
			position: absolute;
			backface-visibility: hidden;
			font-size: 15px;  
			display: flex; 
			align-items: center;
			justify-content: space-between;
			padding: 20px 30px;
		}
		.flip-front{
			background-color:whitesmoke;	
		}
		.flip-back
		{background-color:whitesmoke;
		transform: rotateY(180deg);
		border-radius: 5px 5px 5px 5px;}
		
}


@media screen and (max-width: 650px) {




	
}